/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Container */
.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 38px -7px rgba(102,102,102,1);
  -moz-box-shadow: 0px 0px 38px -7px rgba(102,102,102,1);
  box-shadow: 0px 0px 38px -7px rgba(102,102,102,1);
  border-radius: 12px;
}

.title {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.file-input {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3sease;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 60px;
  font-weight: bold;
}
.submit-button>span{
  margin-right: 10px;
}
.submit-button:not(:disabled):hover {
  background-color: #45a049;
}
button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.progress,
.message {
  margin-top: 12px;
  font-size: 16px;
  text-align: center;
}

.progress {
  color: #2196f3;
}

.message {
  color: green;
}

/* Mobile Responsive */
@media (max-width: 600px) {
  .container {
    margin: 20px;
    padding: 16px;
  }

  .title {
    font-size: 20px;
  }

  .file-input,
  .submit-button {
    font-size: 14px;
    padding: 10px;
  }

  .progress,
  .message {
    font-size: 14px;
  }
}
